<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>SENG3011 - Laser</title>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('home') }}">Lasers</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('home') }}">
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                            <a class="nav-link active" href="{{ url_for('get_indocs') }}">
                                Input Documentation <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_outdocs') }}">
                                Output Documentation
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_exampledocs') }}">
                                Example Usage
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_version') }}">
                                Version & Changelog
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                {% block body_contents %}
            <h1 class="h2">SENG3011 - Laser</h1>
            </div>
                    <!-- Form with company, from, to -->
            <form method="POST" action="{{ url_for('gui') }}">
              <div class="form-group">
                <label for="company">Company</label>
                <input type="text" name="company" class="form-control"  placeholder="Company Name">
                  <p class = "text-danger">{{ companyError }}</p>
              </div>
              <div class="form-group">
                <label for="startDate">From</label>
                <input type="text" name="startdate" class="form-control"  placeholder="Date">
                  <p class = "text-danger">{{ startError }}</p>
              </div>
                <div class="form-group">
                <label for="endDate">To</label>
                <input type="text" name="enddate" class="form-control"  placeholder="Date">
                    <p class = "text-danger">{{ endError }}</p>
              </div>
                <!-- Options to turn on fields with checkboxes -->
                Fields
               <div>
              <div class="form-check-inline" >
                <input type="checkbox" name="fans" class="form-check-input">
                <label class="form-check-label">Fan Count</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="category" class="form-check-input">
                <label class="form-check-label">Category</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="description" class="form-check-input">
                <label class="form-check-label">Description</label>
              </div>

               </div>
               <div>
              <div class="form-check-inline">
                <input type="checkbox" name="id" class="form-check-input">
                <label class="form-check-label">ID</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="name" class="form-check-input">
                <label class="form-check-label">Name</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="website" class="form-check-input" >
                <label class="form-check-label">Website</label>
              </div>
               </div>
               <div>
              <div class="form-check-inline">
                <input type="checkbox" name="type" class="form-check-input" >
                <label class="form-check-label">Type</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="message" class="form-check-input" >
                <label class="form-check-label">Message</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="time" class="form-check-input" >
                <label class="form-check-label">Created Time</label>
              </div>
               </div>
                <!-- Fields for the posts -->
                                Post Fields
               <div>
              <div class="form-check-inline">
                <input type="checkbox" name="likes" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Like Count </label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="comments" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Comment Count</label>
              </div>
               </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>