<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>SENG3011 - Laser</title>
</head>
<body>
 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('home') }}">Lasers</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('home') }}">
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                            <a class="nav-link active" href="{{ url_for('get_indocs',version='') }}">
                                Input Documentation <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_outdocs',version='') }}">
                                Output Documentation
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_exampledocs') }}">
                                Example Usage
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_version') }}">
                                Version & Changelog
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                {% block body_contents %}
            <h1 class="h2">SENG3011 - Laser</h1>
            </div>
                <div class = "container">
                    <div class = "row">
                        <div class = "col-4">
                            <b>How does our client web application integrate with our API?</b>
                            <p>
                            Below is an interface where you're able to specify the parameters you wish to retrieve data
                            from. Once submitting the relevant fields, our web client calls our API then formats the
                            JSON return data so that it's easier to extract the relevant information that the user wants.
                            We are also passing the Facebook messages through a text analyser to identify the positivity
                            factor of the Page's posts. We hope to incorporate this data with the changes of Facebook
                            likes between time periods to give a trend on how the particular company is doing.
                            </p>
                        </div>
                        <div class = "col-4">
                            <b>Our Goal:</b>
                            <p>
                                - To influence investment choices of social media active users<br>
                                - Demonstrate the percentage of increased followers of companies<br>
                                - Generate data on the type of comments said on a companies page <br>
                                - Identify trends related to Facebook activity for different company pages <br>
                            </p>
                        </div>
                        <div class = "col-4">
                            <b>How are we currently affecting the data?</b>
                            <p>
                                - Taken data from the JSON return and formatted so it's easier to read<br>
                                - Analysed messages from Posts to determine whether they're positive or not<br>
                                - Returned data on posts provided by the companies<br>
                                - Graphing the frequency of a company's posts (Please note this feature is experiencing some issues) <br>
                            </p>
                        </div>
                    </div>
                </div>
                <p><p></p></p>

                    <!-- Form with company, from, to -->
            <b><big>Interface for our API</big></b>
            <form method="POST" action="{{ url_for('gui') }}">
              <div class="form-group">
                <label for="company">*Company</label>
                <input type="text" name="company" class="form-control"  placeholder="Company Name">
                  <p class = "text-danger">{{ companyError }}</p>
              </div>
              <div class="form-group">
                <label for="startDate">*From</label>
                <input type="text" name="startdate" class="form-control"  placeholder="Date (yyyy-MM-ddTHH:mm:ss:SSSZ)">
                  <p class = "text-danger">{{ startError }}</p>
              </div>
                <div class="form-group">
                <label for="endDate">*To</label>
                <input type="text" name="enddate" class="form-control"  placeholder="Date (yyyy-MM-ddTHH:mm:ss:SSSZ)">
                    <p class = "text-danger">{{ endError }}</p>
              </div>
                <!-- Options to turn on fields with checkboxes -->
                Fields
               <div>
              <div class="form-check-inline" >
                <input type="checkbox" name="fans" value="fan_count" class="form-check-input">
                <label class="form-check-label">Fan Count</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="category" value="category" class="form-check-input">
                <label class="form-check-label">Category</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="description" value="description"  class="form-check-input">
                <label class="form-check-label">Description</label>
              </div>

               </div>
               <div>
              <div class="form-check-inline">
                <input type="checkbox" name="id" value="id" class="form-check-input">
                <label class="form-check-label">ID</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="name" value="name" class="form-check-input">
                <label class="form-check-label">Name</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="website" value="website" class="form-check-input" >
                <label class="form-check-label">Website</label>
              </div>
               </div>
               <div>
               </div>
                <!-- Fields for the posts -->
                                <br>Post Fields
               <div>
              <div class="form-check-inline">
                <input type="checkbox" name="type" value="post_type" class="form-check-input" >
                <label class="form-check-label">Type</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="likes" class="form-check-input" value="post_like_count">
                <label class="form-check-label" for="exampleCheck1">Like Count </label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="comments" class="form-check-input" value="post_comment_count">
                <label class="form-check-label" for="exampleCheck1">Comment Count</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="time" value="post_created_time" class="form-check-input" >
                <label class="form-check-label">Created Time</label>
              </div>
              <div class="form-check-inline">
                <input type="checkbox" name="message" value="post_message" class="form-check-input" >
                <label class="form-check-label">Message</label>
              </div>
               </div>
                <br>
              <button type="submit" class="btn btn-primary">Submit</button>
                <small>* fields are required</small>
            </form>
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>