<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>SENG3011 - Laser</title>
</head>
<body>
    <h1 class="text-center"> SENG3011 - Laser</h1>
    <P class="text-center">
        <strong>We are Team Laser from the course SENG3011.</strong>
    </P>
    <p class="text-center">
        The members include: Felix, Daniel, Josh, Ryan, Zhizhen!
        <br><br>
        Please be patient as we develop our sample API! Thank you. (Hosted on DigitalOcean)
    </p>

</body>
</html>