{% extends "index.html" %}
{% block body_contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<h1 class="h2">Output Format</h1></div>
Below is an example of a response from the API that requested for data from Woolworths. The API outputs this as a JSON file as well as a log file appended to the end.

<pre><code>
{
     "Facebook Statistic Data":
     {
        "PageId"": woolworths,
        "InstrumentIDs": WOW.AX,
        “CompanyNames”:woolworths,
        "PageName": woolworths,
        "Website": www.woolworths.com.au,
        "Description ":Welcome to the official Facebook Page for the fresh food people.We’re here Monday to Friday 9am-9pm AEST and Saturday/Sunday 10am to 5pm AEST,
        "Category": Retail Company,
        "fan_count": 1,057,425 ,
        "posts [
        {
            "post_id": <>,
            "post_type": <>,
            "post_message": <>,
            "post_created_time": <>,
            "post_like_count": <>,
            "post_comment_count": <>
        }
        ]
     }
    "Request Information": {
        "moduleName": "PageData",
        "moduleVersion": "v1",
        "parameters": {
          "company": "woolworths",
          "enddate": "2015-11-01T19:37:12.193Z",
          "fields": "description,fan_count,website",
          "startdate": "2015-10-01T08:45:10.295Z"
        },
        "team": "Laser"
    }
}
</code></pre>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Field Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>PageId</td>
      <td>The id of the page on Facebook. E.g The pageId of Woolworths is Facebook.com/<strong>woolworths</strong></td>
    </tr>
      <tr>
      <td>InstrumentId</td>
      <td>The unique code given to the company</td>
    </tr>
        <tr>
      <td>CompanyNames</td>
      <td>Official name of the company</td>
    </tr>
        <tr>
      <td>PageName</td>
      <td>The name that is displayed on the Facebook page</td>
    </tr>
        <tr>
      <td>Website</td>
      <td>The comapany's official website</td>
    </tr>
          <tr>
      <td>Description</td>
      <td>The text inside the company page's description section</td>
    </tr>
          <tr>
      <td>Category</td>
      <td>The category of the page on Facebook</td>
    </tr>
          <tr>
      <td>FanCount</td>
      <td>How many fans like the page</td>
    </tr>
          <tr>
      <td>Posts</td>
      <td>A collection of posts with and each post's information.</td>
    </tr>
  </tbody>
</table>
<p><Strong>Log File</Strong></p>
<p>The API also outputs a log file which includes the following data</p>
<ul>
<li>Developer name</li>
    <li>Module name and version</li>
    <li>Parameters passed</li>
    <li>Success or error indication</li>
    <li>Error messages if an error occured </li>
    <li>Start time, end time,elapsed time and output file name if successful</li>
</ul>
</html>
{% endblock %}