<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/bootstrap.min.css">

<style>
body {
    padding-top: 150px;
}
.dropdown-menu {
    width: 100%;
    font-size: 20px;
}
#dropdownMenuButton{
    white-space: normal;
    width: 100%;
}
.sector{
    white-space: normal;
    width: 100%;
    visibility: hidden;
}
#myDiv{
    visibility: visible;
    width: 100%;
    height: 700px;
}
.selectsect{
    text-align: center;
    visibility: hidden;
}
.yeet{
    text-align: center;
    visibility: hidden;
}
.caption {
    display: block;
}
.graph{
    visibility: hidden;
}
</style>

    <title>Title</title>
</head>
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Political Financial Analysis</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
<body>



<div class="container align-middle">
    <div class="col-lg-4  mx-auto">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select An Event
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="droppo">
      </div>
    </div>
    </div>
    <br>
    <p class="col-lg-9  mx-auto" id="EventDesc"></p>
      <h3 class="selectsect" >Select a sector to see the effects</h3>
    <br>


    <button type="button" class="btn btn-outline-primary mb-3 sector" id="Mining">Mining</button>
    <button type="button" class="btn btn-outline-primary mb-3 sector" id="Consumer Staples">Consumer Staples</button>
    <button type="button" class="btn btn-outline-primary mb-3 sector" id="Financials">Financial</button>
    <div class="graph" id="myDiv"></div>
    <span class="graph">This graph data is derived from top 10 companies etc etc etc </span>
    <br>

    <div class="container yeet">
        <h3 class="selectsect yeet" >Facebook Sentiment Analysis</h3>
        <div class="row">
             <div class="col-sm">
                 <strong>Before</strong>
             </div>
             <div class="col-sm">
                 <strong>After</strong>
             </div>
        </div>
      <div class="row">
        <div class="col-sm">
          <img src="../static/20.jpg" id="beforepic">
            <span class="caption" id="beforecap">not below</span>
        </div>
        <div class="col-sm">
          <img src="../static/20.jpg" id="afterpic">
            <span class="caption" id="aftercap">below</span>
        </div>
      </div>
    </div>
    <span class="yeet">This graph data is derived from top 10 companies etc etc etc </span>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>



<script type="text/javascript" src="../static/jquery-3.0.0.slim.js"></script>
<script type="text/javascript" src="../static/popper.js"></script>
<script type="text/javascript" src="../static/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

var response = null;
var stats = null;
var currEvent = null;
var currDate = null;
$(document).ready(function() {

    function getEvents(handle) {
        return $.ajax({
            type: "GET",
            dataType: "text",
            url: "/api/pw/Events",
            success: function (result) {
                response = result;
                handle(result);

            }
        });
    }


    getEvents(function (result) {
        var obj = JSON.parse(result);
        for (index in obj.events) {
            $('#droppo').append("<a class=\"dropdown-item\" href=\"\#\"" + " id=\"" + obj.events[index]["name"] + "\">" + obj.events[index]["name"] + "<\/a>");
            console.log(("<a class=\"dropdown-item\" href=\"\#\"" + " id=\"" + obj.events[index]["name"] + "\">" + obj.events[index]["name"] + "</a>"));
        }

    });
    function getStats(url,handle) {
        return $.ajax({
            type: "GET",
            dataType: "text",
            url: url,
            success: function (result) {
                stats = result;
                handle(result);

            }
        });
    }



    $(document).on('click','a', function(){
        $(".sector").css('visibility','visible');
        $(".selectsect").css('visibility','visible');
        $(".graph").css('visibility','hidden');
        $(".yeet").css('visibility','hidden');
        var trig = event.target.id;
        currEvent = event.target.id;
        var jsonResponse = JSON.parse(response);
        for (index in jsonResponse.events){
            if (jsonResponse.events[index]["name"] == trig){
                $("#EventDesc").text(jsonResponse.events[index]["description"]);
                $("#dropdownMenuButton").text(jsonResponse.events[index]["name"]);
                currDate = jsonResponse.events[index]["date"];
            }
        }

    });

    function getFB(url,handle) {
        return $.ajax({
            type: "GET",
            dataType: "text",
            url: url,
            success: function (result) {
                stats = result;
                handle(result);

            }
        });
    }



    $(".sector").on('click', function(){
        var trig = event.target.id;

        console.log(currDate);
        var jsonResponse = JSON.parse(response);
        var call = "http://127.0.0.1:5000/api/pw/GraphData?sector=" + trig + "&date=" + currDate;
        console.log(call);
        getStats(call,function (result) {
            var eventDate = new Date(currDate);
            var last20 = new Date(eventDate);
            var next20 = new Date(eventDate);
            var obj = JSON.parse(result);
            last20.setDate(last20.getDate() - 20);
            next20.setDate(next20.getDate() + 20);
            var z = [];
            while (last20 <= next20) {
                z.push(getFormattedDate(last20));
                last20.setDate(last20.getDate() + 1);
            }
            var layout = {
              title: 'Stock Fluctuations in the ' + trig + " Sector",
              annotations: [
                {
                  x: currDate,
                  y: obj[20],
                  xref: 'x',
                  yref: 'y',
                  text: currEvent,
                  showarrow: true,
                  arrowhead: 5,
                  ax: 0,
                  ay: -40
                }
              ],
              xaxis: {
                title: 'Dates',
              },
              yaxis: {
                title: 'Change in stock prices',
              }

            };

            var data = [
                {   x: z,
                    y:obj,
                    type: 'scatter'
                }
            ];
            Plotly.newPlot('myDiv', data,layout,{displayModeBar: false});
            $(".graph").css('visibility','visible');
        });
        var call = "http://127.0.0.1:5000/api/pw/PostSentiment?sector=" + trig + "&date=" + currDate;
        getFB(call,function(result){
            var obj = JSON.parse(result);
            var before = obj["before"];
            var after = obj["after"];
            console.log(before);
            console.log(after);
            setEmoji(after,"afterpic","aftercap");
            setEmoji(before,"beforepic","beforecap");
            $('.yeet').css('visibility','visible');
        });

    });
    function getFormattedDate(date) {
      var year = date.getFullYear();

      var month =  (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      var day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;

      return year + '-' + month + '-' + day;
    }
    function setEmoji(value,imageid,cap) {
        if (value <= 0.20){
            $("#"+imageid).attr("src","../static/20.jpg");
        } else if (value <= 0.4) {
            $("#"+imageid).attr("src","../static/40.jpg");
        } else if (value <= 0.6){
            $("#"+imageid).attr("src","../static/60.jpg");
        } else if (value <= 0.8){
            $("#"+imageid).attr("src","../static/80.jpg");
        } else {
            $("#"+imageid).attr("src","../static/100.jpg");
        }
        $("#"+cap).text(value);
    }



});


</script>
</body>
</html>