<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/bootstrap.min.css">

<style>
body {
    padding-top: 150px;
}
.dropdown-menu {
    width: 100%;
    height: 300px;
    font-size: 20px;
}
#dropdownMenuButton{
    white-space: normal;
    width: 100%;
}
.sector{
    white-space: normal;
    width: 100%;
    visibility: hidden;
}
#myDiv{
    visibility: visible;
    width: 100%;
}
</style>

    <title>Title</title>
</head>
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cool analyser stuff</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
<body>



<div class="container align-middle">
    <div class="col-lg-4  mx-auto">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select An Event
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="droppo">
      </div>
    </div>
    </div>
    <br>
    <p class="col-lg-9  mx-auto" id="EventDesc"></p>
    <br>


    <button type="button" class="btn btn-outline-primary mb-3 sector" id="Mining">Mining</button>
    <button type="button" class="btn btn-outline-primary mb-3 sector" id="Consumer Staples">Consumer Staples</button>
    <button type="button" class="btn btn-outline-primary mb-3 sector" id="Financials">Financial</button>
    <div id="myDiv"></div>

</div>



<script type="text/javascript" src="../static/jquery-3.0.0.slim.js"></script>
<script type="text/javascript" src="../static/popper.js"></script>
<script type="text/javascript" src="../static/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

var response = null;
var stats = null;
var currEvent = null;
var currDate = null;
$(document).ready(function() {

    function getEvents(handle) {
        return $.ajax({
            type: "GET",
            dataType: "text",
            url: "/api/pw/Events",
            success: function (result) {
                response = result;
                handle(result);

            }
        });
    }


    getEvents(function (result) {
        var obj = JSON.parse(result);
        for (index in obj.events) {
            $('#droppo').append("<a class=\"dropdown-item\" href=\"\#\"" + " id=\"" + obj.events[index]["name"] + "\">" + obj.events[index]["name"] + "<\/a>");
            console.log(("<a class=\"dropdown-item\" href=\"\#\"" + " id=\"" + obj.events[index]["name"] + "\">" + obj.events[index]["name"] + "</a>"));
        }

    });
    function getStats(url,handle) {
        return $.ajax({
            type: "GET",
            dataType: "text",
            url: url,
            success: function (result) {
                stats = result;
                handle(result);

            }
        });
    }



    $(document).on('click','a', function(){
        $(".sector").css('visibility','visible');
        $("#myDiv").css('visibility','hidden');
        var trig = event.target.id;
        currEvent = event.target.id;
        var jsonResponse = JSON.parse(response);
        for (index in jsonResponse.events){
            if (jsonResponse.events[index]["name"] == trig){
                $("#EventDesc").text(jsonResponse.events[index]["description"]);
                $("#dropdownMenuButton").text(jsonResponse.events[index]["name"]);
                currDate = jsonResponse.events[index]["date"];
            }
        }

    });

    $(".sector").on('click', function(){
        var trig = event.target.id;

        console.log(currDate);
        var jsonResponse = JSON.parse(response);
        var call = "http://127.0.0.1:5000/api/pw/GraphData?sector=" + trig + "&date=" + currDate;
        console.log(call);
        getStats(call,function (result) {
            var eventDate = new Date(currDate);
            var last20 = new Date(eventDate);
            var next20 = new Date(eventDate);

            last20.setDate(last20.getDate() - 20);
            next20.setDate(next20.getDate() + 20);

            last20 = getFormattedDate(last20);
            next20 = getFormattedDate(next20);


            var obj = JSON.parse(result);
            var data = [
                {   x: Array.apply(null, Array(40)).map(function (_, i) {return i;}),
                    y:obj,
                    type: 'scatter'
                }
            ];
            Plotly.newPlot('myDiv', data);
            $("#myDiv").css('visibility','visible');
        });

    });
    function getFormattedDate(date) {
      var year = date.getFullYear();

      var month =  (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      var day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;

      return year + '-' + month + '-' + day;
    }



});


</script>
</body>
</html>