{% extends "index.html" %}
{% block body_contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<h1 class="h2">Version & Changelog </h1></div>
<strong>Current Version: v1 Released 28/3/18</strong>
<p></p><u><strong>Changes</strong></u>
<ul>
<li>No current features of the API working </li>
<li>HTML and CSS formatted </li>
<li>Added Input Documentation, Output Documentation, Example usage and Version & Changelog Pages</li>
 <li>Workin on adding API requests; Currently have dummy data working</li>
</ul>
<p></p>


<p></p>
<u><strong>Previous Versions</strong></u>
<p></p>
<strong>V0.1 Released 18/3/18 </strong>
<ul>
    <li>Website Hosted and Online</li>
    <li>Homepage created</li>
</ul>
</html>
{% endblock %}