{% extends "index.html" %}
{% block body_contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<h1 class="h2">Version & Changelog </h1></div>

<strong>Current Version: v2 Released 17/4/18</strong>
<p></p><u><strong>Changes</strong></u>
<ul>
    <li>Added graphing for the frequency of posts</li>
    <li>Posts and post fields can now be searched</li>
    <li>Our API also serves errors if incorrect fields are submitted</li>
    <li>Added new APIs to help analyse messages from posts</li>
    <li>A GUI for the API</li>
    <li>Log files now includes details on elapsed time, startDateTime, endDateTime and Output file name.</li>
</ul>
<p></p><u><strong>Known Bugs</strong></u>
<ul>
    <li>Post frequency chart is graphed incorrectly</li>
</ul>
<p></p>

<p></p>
<u><strong>Previous Versions</strong></u>
<p></p>
<p></p><strong>V1 Released 28/3/18</strong>
<ul>
<li>API can pull page data on a company, no post data yet</li>
     <li>Log file appended to output</li>
<li>HTML and CSS formatted </li>
<li>Added Input Documentation, Output Documentation, Example usage and Version & Changelog Pages</li>

</ul>
<p></p>
<strong>V0.1 Released 18/3/18 </strong>
<ul>
    <li>Website Hosted and Online</li>
    <li>Homepage created</li>
</ul>
</html>
{% endblock %}